*{
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
}

.cajaRoja {
    background-color: red;
    height: 50px;
}

.cajaVerde {
    background-color: greenyellow;
    height: 700px;
}

.cajaAzul {
    background-color: aqua;
    height: 700px;
}

.cajaAmarilla {
    background-color: yellow;
    height: 700px;
}

@media (min-width: 150px) and (max-width: 575px) {
    .cajaAzul {
        display: none;
    }
}